<script>
  function _feed(s) {
    alert("Your private snippet is: " + s['private_snippet']);
  }
  </script>
<script src=" http://127.0.0.1:8009/665899935372272617299770565957300478906/feed.gtl"></script>
